---
import { Icon } from "astro-icon/components";
import "./index.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#412a34" />

		<title>Nade&#x16D;ka &#x15DC;&#x2EC;&#x15DC;</title>
		<meta name="description" content="Nadeŭka's personal page" />
		<meta name="keywords" content="nadevko, nadeŭka, надевко, надэўка" />
		<link rel="canonical" href="https://nadevko.cc/" />
		<link rel="manifest" href="/site.webmanifest" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="icon" href="/favicon.ico" sizes="any" />
	</head>

	<body>
		<main>
			<h1>
				<Icon name="twemoji:construction" size="1.2em" />
				Under Construction
			</h1>
			<p>It&#39;s done when it&#39;s done.</p>
		</main>
		<footer>
			<small
				>Background by
				<a href="https://motocross-arts.tumblr.com/">motocross_saito</a
				></small
			>
		</footer>
	</body>
</html>
