@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  --static-bg: image-set(
    url("./assets/bg-static.avif") type("image/avif"),
    url("./assets/bg-static.webp") type("image/webp"),
    url("./assets/bg-static.png") type("image/png"),
    url("./assets/bg-static.jpeg") type("image/jpeg")
  );

  background-color: #412a34;
  background-image:
    image-set(
      url("./assets/bg-animated.avif") type("image/avif"),
      url("./assets/bg-animated.webp") type("image/webp"),
      url("./assets/bg-animated.gif") type("image/gif")
    ),
    var(--static-bg);

  @media (prefers-reduced-motion: reduce) {
    background-image: var(--static-bg);
  }

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #0009;
  color: #f0f2fe;
  text-align: center;
  padding: 2em;

  border-radius: 1em;
  outline: 0.2em solid rgba(0, 0, 0, 0.6);
  outline-offset: 0.2em;

  max-width: 90%;
  box-sizing: border-box;
  font-family: "Raleway", system-ui, sans-serif;
}

h1 {
  display: flex;
  gap: 0.4em;
}

footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: #f0cbba;
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: #f0cbba;
  text-decoration: none;
  font-weight: 600;
}

icon-twemoji-construction {
  display: inline-block;
  animation: flipX 1s infinite;
  transform-origin: center;
}

@keyframes flipX {
  50% {
    transform: scaleX(-1);
  }
}
